{% assign _today = site.time | date: '%Y-%m-%d' %}
{% assign _events = site.events | where_exp: 'event', 'event.event_date > _today' | sort: 'event_date' %}
{% if _events.size > 0 %}
<ul>
  {% if page.layout == 'home' %}
    {% for event in _events limit:3 %}
      <li><a href="{{ event.url }}">{{ event.title }}</a><br>
      <em>{{ event.event_date | date: "%m/%d/%Y" }}</em></li>
    {% endfor %}
  {% else %}
    {% for event in _events %}
      <li><a href="{{ event.url }}">{{ event.title }}</a><br>
      <em>{{ event.event_date | date: "%m/%d/%Y" }}</em></li>
    {% endfor %}
  {% endif %}
</ul>
{% else %}
<p>
  <em>No upcoming events. Check back soon!</em>
</p>
{% endif %}
