---
---

$font-path:   '../uswds/fonts';
$image-path:  '../uswds/img';

$color-gold: #fdb81e;
$color-gold-dark: darken($color-gold, 10%);
$color-gold-darkest: darken($color-gold, 17%);

$color-secondary: $color-gold;
$color-secondary-dark: $color-gold-dark;
$color-secondary-darkest: $color-gold-darkest;

@import 'uswds/all';

@include media($nav-width) {
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  #main-content {
    flex-grow: 1;
  }
}


// Hero -------------- //

.usa-hero-callout {
  .usa-button {
    background-color: $color-secondary;
    color: $color-base;
    display: block;
    margin-top: 2em;

    &:hover {
      background-color: $color-secondary-dark;
      color: $color-base;
    }
  }
}

@include media($small-screen) {
  .usa-hero-callout {
    max-width: 31rem;
  }
}

// Header -------------- //

.usa-logo-text img {
  display: none;
}

@include media($nav-width) {
  .usa-logo-text a {
    align-items: center;
    display:flex;

    img {
      display: block;
      margin-right: 1rem;
    }
  }
}

// Footer -------------- //

.usa-footer-logo {
  display: none;
}

.usa-footer-contact-links {
  text-align: left;
}
