---
layout: base
---

{% assign hero = page.hero %}
{% include components/hero.html %}

{% if page.tagline and page.intro %}
<section class="usa-grid usa-section">
  <div class="usa-width-one-third">
    <h3 class="usa-heading-alt">Upcoming events</h3>
    <ul>
      {% assign sortedEvents = site.events | sort: 'event_date' %}
      {% for event in sortedEvents limit:3 %}
        <li>
          <a href="{{ event.url }}">{{ event.title }}</a><br />
          <em>{{ event.event_date | date: "%m/%d/%Y" }}</em>
        </li>
      {% endfor %}
    </ul>
  </div>
  <div class="usa-width-two-thirds">
    <h2>{{ page.tagline }}</h2>
    {{ page.intro | markdownify }}
  </div>
</section>
{% endif %}
